@{
    ViewData["Title"] = "Sign up Success";
}
<h2>@ViewData["Title"]</h2>

<h3>You have successfully signed up. Please follow the <a href="https://github.com/mspnp/multitenant-saas-guidance/blob/master/docs/running-the-app.md#assign-application-roles">documentation to assign application roles</a>.</h3>
