@model SurveyDTO
@{
    ViewData["Title"] = "Delete Survey Result";
}
<h2>@ViewData["Title"]</h2>

@Html.Partial("~/Views/Shared/_ValidationPartial")
<p class="alert-success">@ViewBag.Message</p>
@Html.Partial("~/Views/Shared/_SurveyDetailPartial", Model)
