<div class="form-group">
    <div class="row">
        <div class="pull-right">
            <a onclick="window.history.back()" class="btn btn-default">Back</a>
        </div>
        <div class="pull-right">
            <span>&nbsp;</span>
            <span>&nbsp;</span>
        </div>
        <div class="pull-right">
            <input type="submit" class="btn btn-default" value="Confirm" />
        </div>
    </div>
</div>
