@{
    ViewData["Title"] = "Taking Survey";
}
<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="pull-right">
        <a onclick="window.history.back()" class="btn btn-default">Back</a>
    </div>
</div>

<div class="alert alert-info">
    The feature of taking a survey is not implemented yet.
</div>

