@model QuestionDTO
@{
    ViewData["Title"] = "Edit Question";
}
<h2>@ViewData["Title"]</h2>

@Html.Partial("~/Views/Shared/_ValidationPartial")

<form asp-action="Edit" method="post">
    @Html.Partial("~/Views/Shared/_QuestionEditPartial", Model)
</form>
